@import '../css/modules/fonts.scss';
@import '../css/modules/variables.scss';
@import '../css/modules/modals.scss';
@import '../css/modules/nav.scss';
@import '../css/modules/index.scss';
@import '../css/modules/landingpage.scss';
@import '../css/modules/shop.scss';
@import '../css/modules/account.scss';
@import '../css/modules/account-settings.scss';
@import '../css/modules/signin.scss';
@import '../css/modules/footer.scss';


* {
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
}

h2 {
    margin: 0;
}

h3 {
    margin: 0;
}

h4 {
    margin: 0;
    font-family: $jakarta;
}

h5 {
    margin: 0;
}

h6 {
    margin: 0;
}

p {
    margin: 0;
    font-family: $jakarta;
    font-weight: 100;
}

header {
    height: 100px;
    border-bottom: solid $blue 2px;
    width: 100%;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-title {
    color: $blue;
    margin-left: 5%;
}

.filer {
    margin-right: 5%;
    position: relative;

    span {
        margin-left: 5px;
    }

    button {
        width: 135px;
        all: unset;
        color: $white;
        background: $blue;
        padding: 10px 20px 10px 20px;
        display: flex;
    }
}

.filter-dropdown {
    background: $blue;
    color: $white;
    position: absolute;
    z-index: 99;
    width: 135px;
    max-height: 0px;
    overflow: hidden;
    transition: .2s ease;

    ul {
        padding: 0 10px;
    }

    li {
        list-style: none;
        border-bottom: solid 1px $white;
        display: flex;
        justify-content: space-between;
    }
}

.filter-expand {
    max-height: 91px !important;
    transition: .2s ease;

}


// EDIT ACCOUNT PAGE 

.edit-account-header {
    height: 60px;
    border-bottom: 2px solid #1C2536;
    display: flex;
    flex-wrap: wrap;
    padding-left: 25px;
    border-top: 2px solid #1C2536;
    padding-top: 10px;
}

.edit-title {
    font-family: $sen;
    font-weight: bold;
}

.back-button {
    background-color: #1C2536;
    color: white;
    font-family: "Plus Jakarta Sans", sans-serif;
    border-radius: 0px;
    font-size: 13px;
    padding: 10px;
    width: 160px;
    border: none;
    margin-left: 46px;
    margin-top: -1px;
}

#edit-account-image {
    height: 180px;
}

.edit-image {
    display: table;
    margin-left: auto;
    margin-right: auto;
    background: $green;
    width: 150px;
    height: 150px;
    border-radius: 100px;
    margin-top: 25px;
}

#edit-account-form {
    width: 95%;
    margin: 0 auto;
    height: 700px;
    padding-left: 10px;
}

.edit-label {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
    color: $blue;
}

.edit-input,
.edit-description-input {
    font-family: $jakarta;
    all: unset;
    width: 94%;
    margin-left: 5px;
    border-radius: 1px;
    height: 40px;
    padding-left: 5px;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 30px;
    background: white;
}

.edit-description-input {
    height: 140px;
}

.button-container {
    width: 95%;
    margin-left: 5px;
    height: 70px;
}

#edit-button1,
#edit-button2 {
    background-color: #1C2536;
    color: white;
    font-family: "Plus Jakarta Sans", sans-serif;
    border-radius: 0px;
    font-size: 17px;
    padding: 14px;
    width: 100%;
    border: none;
    margin-bottom: 20px;
}

.edit-password-modal-content {
    background-color: $tan;
    width: 99%;
    height: 350px;
    padding: 10px;
    border: 1px solid $blue;
}

.edit-password-input {
    font-family: $jakarta;
    all: unset;
    width: 94%;
    margin-left: 5px;
    border-radius: 1px;
    height: 40px;
    padding-left: 5px;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 30px;
    background: white;
}

.edit-password-label {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
    color: $blue;
}

.description-flex{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
