@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Sen:wght@400;700;800&display=swap");
@font-face {
  font-family: "mirra";
  src: url("../fonts/mirra-webfont.woff2"), url("../fonts/mirra-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.modal-content {
  border-radius: 0px;
}

.modal-header {
  background-color: #7D876E;
  border-radius: 0px;
}

.btn-close {
  background: url("../img/whiteclosex.png") center/2em auto no-repeat;
  opacity: 1;
}

.modal-title {
  margin-bottom: 15px;
  line-height: var(--bs-modal-title-line-height);
  text-align: center;
  font-size: 30px;
  font-family: "Sen", sans-serif;
  font-weight: bold;
}

.edit-modal-image {
  width: 130px;
  height: 130px;
  border-radius: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
}

#projectForm {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: bold;
}

label {
  display: inline-block;
  margin-left: 2px;
  font-size: 17px;
  margin-bottom: 5px;
}

.edit-modal-input {
  all: unset;
  width: 97%;
  margin-left: 5px;
  border-radius: 1px;
  height: 40px;
  padding-left: 5px;
  color: black;
  font-size: 14px;
  font-weight: 400;
  border-color: none;
  border: solid 1px black;
}

.modal-body {
  background-color: #FDFBFC;
}

.edit-modal-button1,
.edit-modal-button2 {
  background-color: #1C2536;
  color: white;
  font-family: "Plus Jakarta Sans", sans-serif;
  border-radius: 0px;
  font-size: 13px;
  padding: 14px;
  width: 43%;
  border: none;
}

.edit-modal-button1 {
  margin-left: 5px;
}

.edit-modal-button2 {
  margin-left: 41px;
}

#deleteModalLabel {
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-weight: normal;
  padding-top: 15px;
}

.delete-modal-header {
  border-bottom: 2px solid white;
  background-color: #7D876E;
  border-radius: 0px;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.delete-modal-body {
  background-color: #7D876E;
  height: 170px;
}

.confirm-delete-text {
  text-align: center;
  color: white;
  padding-top: 30px;
  font-family: "Plus Jakarta Sans", sans-serif;
  padding-bottom: 10px;
}

.delete-modal-cancel-button,
.delete-button {
  background-color: #1C2536;
  color: white;
  font-family: "Plus Jakarta Sans", sans-serif;
  border-radius: 0px;
  font-size: 13px;
  padding: 11px;
  width: 30%;
  border: none;
}

.delete-modal-cancel-button {
  margin-left: 65px;
}

.delete-button {
  margin-left: 20px;
}

body {
  background: #DAD5CA;
}

a {
  all: unset;
}

nav {
  background: #FDFBFC;
  position: fixed;
  width: 100%;
  z-index: 99;
}

.nav-wrapper {
  padding: 18px 25px;
  background: #FDFBFC;
}

.nav-grid {
  max-height: 40px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 5fr 1fr 2fr;
  grid-template-rows: 40px 160px;
  grid-template-areas: "nav-options nav-logo nav-tools";
  transition: .4s;
}

.nav-options {
  font-family: "Plus Jakarta Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-options ul {
  all: unset;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.nav-options li {
  color: #1C2536;
  font-family: "Plus Jakarta Sans", sans-serif;
  display: inline;
  font-size: 1em;
}

.nav-logo {
  visibility: hidden;
}

.nav-tools {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-tools span {
  display: flex;
  font-size: 2em;
  color: #1C2536;
  align-items: center;
}

.search-button {
  display: flex;
  align-items: center;
}

.search-button p {
  margin: 0;
}

#search-type {
  display: none;
  font-size: 1em;
  margin-right: .5em;
  font-family: "Plus Jakarta Sans", sans-serif;
  color: #7D876E;
}

#search-icon {
  display: flex;
  color: #7D876E;
  font-size: 1.5em;
}

.account-button {
  display: flex;
  align-items: center;
  z-index: 99;
}

.account-button #dp {
  width: 1.25em;
  height: 1.25em;
  border-radius: 100%;
  background-size: cover;
}

#account-symbol {
  display: block;
}

#account-button {
  all: unset;
  display: none;
  background: #1C2536;
  padding: 10px 39px 10px 39px;
  color: #FDFBFC;
}

#account-details {
  z-index: -1;
  opacity: 0;
  max-height: 74px;
  top: 0;
  height: 180px;
  overflow: hidden;
  display: flex;
  position: absolute;
  align-items: center;
  padding-right: 25px;
  padding-left: 25px;
  right: 0;
  background-color: #FDFBFC;
  width: 205px;
  flex-direction: column;
  padding-bottom: 17px;
  justify-content: flex-end;
}

.account-functions {
  border-bottom: solid 1px grey;
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.account-functions p {
  margin-bottom: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.account-expand {
  max-height: 180px !important;
  opacity: 1 !important;
}

#username {
  display: none;
  color: #1C2536;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 1em;
  margin-right: 1em;
}

.search-row {
  grid-column: 1 / 4;
  text-align: center;
  padding: 33px;
  left: 0;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 167px;
}

.search-message {
  margin-bottom: 16px;
}

.search-message h2 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 1.3em;
  color: #1C2536;
}

.search-bar {
  display: flex;
  color: #224229;
  margin-bottom: 16px;
  max-width: 100%;
  position: relative;
  width: 800px;
}

.search-bar i {
  display: flex;
  gap: 20%;
  align-items: center;
  justify-content: flex-end;
  font-size: 1em;
  color: #1C2536;
}

.search-bar::before {
  background-color: rgba(34, 66, 41, 0.16);
  right: 0;
  bottom: 0;
  content: " ";
  height: 2px;
  left: 0;
  pointer-events: none;
  position: absolute;
}

.search-bar::after {
  bottom: 0;
  content: " ";
  height: 2px;
  left: 0;
  pointer-events: none;
  position: absolute;
  background-color: #7D876E;
  right: 100%;
  width: 0;
  transition: width .4s ease-in-out;
}

.search-bar:hover::after {
  width: 100%;
  transition: width .4s ease-in-out;
}

#search-bar-input {
  background: 0 0;
  border: none;
  color: #7D876E;
  flex: auto;
  font-family: "Sen", sans-serif;
  font-size: 30px;
  font-weight: 400;
  margin-right: 8px;
  min-height: 50px;
  outline: none;
  padding: 0;
  width: 100%;
}

.nav-expand {
  max-height: 300px;
  transition: .4s;
}

.nav-padding {
  padding-top: 76px;
}

@media only screen and (min-width: 768px) {
  .nav-grid {
    grid-template-columns: 3fr 1fr 2fr;
  }
  #search-type {
    display: block;
  }
}

@media only screen and (min-width: 1024px) {
  .nav-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .nav-logo {
    visibility: visible;
    display: flex;
    justify-content: center;
  }
  .search-bar i {
    font-size: 1.5em;
  }
  .account-button #username {
    display: block;
  }
  #search-icon {
    margin-right: 0.5em;
  }
  #account-symbol {
    display: none;
  }
  #account-button {
    display: block;
  }
}

#result {
  column-count: 2;
  column-gap: 1em;
  position: relative;
  overflow: hidden;
  display: flow-root;
}

.browse-height {
  max-height: 100vh;
  overflow: hidden;
  position: relative;
}

.browse-height::after {
  content: "";
  position: absolute;
  bottom: 0;
  z-index: 100;
  width: 100%;
  height: 400px;
  background: linear-gradient(rgba(240, 240, 240, 0), #DAD1CA);
  pointer-events: none;
  left: 0;
}

.product-item {
  width: 100%;
  height: auto;
  position: relative;
  padding-bottom: 50px;
  background: #FDFBFC;
}

.product-item .product-image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.product-description {
  height: 50px;
  width: 100%;
  display: flex;
  bottom: 0;
  align-items: flex-start;
  justify-content: center;
  padding: 0 42px 0 6px;
  position: absolute;
  flex-direction: column;
}

.product-description h4 {
  font-size: calc(.8em + .3vw);
  font-weight: 200;
  color: #1C2536;
}

.product-description p {
  font-size: .7em;
  font-weight: 100;
  color: #7D876E;
}

#favourite {
  position: absolute;
  top: 11px;
  bottom: 11px;
  display: flex;
  flex-direction: column;
  align-items: center;
  right: 6px;
  justify-content: center;
}

#favourite h3 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 1em;
  font-weight: 300;
  color: #1C2536;
}

.product-container:nth-child(2),
.product-container:nth-last-child(1) {
  grid-row: span 1;
}

.product-container {
  grid-row: span 2;
  margin-bottom: 1em;
}

.product-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  cursor: pointer;
  transition: all .3s ease;
}

.browse-button {
  z-index: 10;
  text-align: center;
  padding-top: 88px;
}

.browse-button button {
  all: unset;
  color: white;
  background: black;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 11px;
  height: 44px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 2px 16pxrgba 0, 0, 0, 0.08, 0 0.25px 2pxrgba 0, 0, 0, 0.26;
  white-space: nowrap;
}

.product-buttons {
  padding-right: 5%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  padding-left: 5%;
  width: 100%;
  color: #FDFBFC;
  font-size: 1.5em;
}

.result-padding {
  padding-left: 5%;
  padding-right: 5%;
}

@media only screen and (min-width: 768px) {
  #result {
    column-count: 3;
  }
}

@media only screen and (min-width: 1024px) {
  #result {
    column-count: 4;
  }
}

* {
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

h4 {
  margin: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
}

h5 {
  margin: 0;
}

h6 {
  margin: 0;
}

p {
  margin: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
}

header {
  height: 100px;
  border-bottom: solid #1C2536 2px;
  width: 100%;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-title {
  color: #1C2536;
  margin-left: 5%;
}

.filer {
  margin-right: 5%;
  position: relative;
}

.filer span {
  margin-left: 5px;
}

.filer button {
  width: 135px;
  all: unset;
  color: #FDFBFC;
  background: #1C2536;
  padding: 10px 20px 10px 20px;
  display: flex;
}

.filter-dropdown {
  background: #1C2536;
  color: #FDFBFC;
  position: absolute;
  z-index: 99;
  width: 135px;
  max-height: 0px;
  overflow: hidden;
  transition: .2s ease;
}

.filter-dropdown ul {
  padding: 0 10px;
}

.filter-dropdown li {
  list-style: none;
  border-bottom: solid 1px #FDFBFC;
  display: flex;
  justify-content: space-between;
}

.filter-expand {
  max-height: 91px !important;
  transition: .2s ease;
}

#tools {
  background-color: #FDFBFC;
  width: 100%;
  height: 710px;
}

.login-banner {
  width: 100%;
  height: 70px;
  background-color: #7D876E;
}
