@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Sen:wght@400;700;800&display=swap");
@font-face {
  font-family: "mirra";
  src: url("../fonts/mirra-webfont.woff2"), url("../fonts/mirra-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.modal-content {
  border-radius: 0px;
}

.modal-header {
  background-color: #7D876E;
  border-radius: 0px;
}

.btn-close {
  background: url("../img/whiteclosex.png") center/2em auto no-repeat;
  opacity: 1;
}

.modal-title {
  margin-bottom: 15px;
  line-height: var(--bs-modal-title-line-height);
  text-align: center;
  font-size: 30px;
  font-family: "Sen", sans-serif;
  font-weight: bold;
}

.edit-modal-image {
  width: 130px;
  height: 130px;
  border-radius: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
}

#projectForm {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: bold;
}

label {
  display: inline-block;
  margin-left: 2px;
  font-size: 17px;
  margin-bottom: 5px;
}

.edit-modal-input {
  all: unset;
  width: 97%;
  margin-left: 5px;
  border-radius: 1px;
  height: 40px;
  padding-left: 5px;
  color: black;
  font-size: 14px;
  font-weight: 400;
  border-color: none;
  border: solid 1px black;
}

.modal-body {
  background-color: #FDFBFC;
}

.edit-modal-button1,
.edit-modal-button2 {
  background-color: #1C2536;
  color: white;
  font-family: "Plus Jakarta Sans", sans-serif;
  border-radius: 0px;
  font-size: 13px;
  padding: 14px;
  width: 43%;
  border: none;
}

.edit-modal-button1 {
  margin-left: 5px;
}

.edit-modal-button2 {
  margin-left: 41px;
}

.landingpage {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #DAD5CA;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.landingpage .star1,
.landingpage .star2,
.landingpage .star3 {
  position: absolute;
}
.landingpage .star1 img,
.landingpage .star2 img,
.landingpage .star3 img {
  width: 40px;
}
.landingpage .star1 {
  top: 20%;
  left: 40%;
}
.landingpage .star2 {
  top: 70%;
  left: 4%;
}
.landingpage .star3 {
  top: 80%;
  left: 78%;
}
.landingpage .landingpage_title {
  width: 100%;
  height: auto;
  text-align: center;
}
.landingpage .landingpage_title h1 {
  font-family: "mirra";
  font-size: 140px;
  color: #A7432B;
}
.landingpage .landingpage_title p {
  font-family: "Sen", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #FDFBFC;
  height: 100px;
  padding: 30px;
  border-top: 2px #FDFBFC solid;
  border-bottom: 2px #FDFBFC solid;
}
.landingpage .landingpage_logo {
  position: absolute;
  bottom: 50px;
  text-align: center;
}
.landingpage .landingpage_logo img {
  width: 80px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.landingpage .landingpage_logo p {
  font-family: "Sen", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  font-size: 16px;
  color: #FDFBFC;
}

.gallery-cont {
  display: flex;
  flex-direction: column;
}
.gallery-cont .gallery {
  padding: 20px;
}
.gallery-cont #gallery0 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 5px;
}
.gallery-cont #gallery0 .product-container {
  width: 100%;
  height: 400px;
  background-color: white;
  border: 2px solid rgb(67, 60, 60);
  font-size: 12px;
  text-align: center;
  margin: 0;
}
.gallery-cont #gallery0 .product-container img {
  width: 100px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.gallery-cont #gallery1 {
  display: flex;
  flex-direction: column;
}
.gallery-cont #gallery1 .product-container {
  width: 100%;
  height: 400px;
  background-color: white;
  border: 2px solid rgb(67, 60, 60);
  font-size: 12px;
  text-align: center;
  margin: 0;
}
.gallery-cont #gallery1 .product-container img {
  width: 100px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.gallery-cont #gallery2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 5px;
}
.gallery-cont #gallery2 .product-container {
  width: 100%;
  height: 400px;
  background-color: white;
  border: 2px solid rgb(67, 60, 60);
  font-size: 12px;
  text-align: center;
  margin: 0;
}
.gallery-cont #gallery2 .product-container img {
  width: 100px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.gallery-cont #gallery2 .product-container:nth-child(1) {
  grid-column-start: 1;
  grid-column-end: 3;
}

body {
  background: #DAD5CA;
}

a {
  all: unset;
}

nav {
  background: #FDFBFC;
  position: fixed;
  width: 100%;
  z-index: 99;
}

.nav-wrapper {
  padding: 18px 25px;
  background: #FDFBFC;
}

.nav-grid {
  max-height: 40px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 5fr 1fr 2fr;
  grid-template-rows: 40px 160px;
  grid-template-areas: "nav-options nav-logo nav-tools";
  transition: 0.4s;
}

.nav-options {
  font-family: "Plus Jakarta Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-options ul {
  all: unset;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.nav-options li {
  color: #1C2536;
  font-family: "Plus Jakarta Sans", sans-serif;
  display: inline;
  font-size: 1em;
}

.nav-logo {
  visibility: hidden;
}

.nav-tools {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-tools span {
  display: flex;
  font-size: 2em;
  color: #1C2536;
  align-items: center;
}

.search-button {
  display: flex;
  align-items: center;
}
.search-button p {
  margin: 0;
}

#search-type {
  display: none;
  font-size: 1em;
  margin-right: 0.5em;
  font-family: "Plus Jakarta Sans", sans-serif;
  color: #7D876E;
}

#search-icon {
  display: flex;
  color: #7D876E;
  font-size: 1.5em;
}

.account-button {
  display: flex;
  align-items: center;
  z-index: 99;
}
.account-button #dp {
  width: 1.25em;
  height: 1.25em;
  border-radius: 100%;
  background-size: cover;
}

#account-symbol {
  display: block;
}

#account-button {
  all: unset;
  display: none;
  background: #1C2536;
  padding: 10px 39px 10px 39px;
  color: #FDFBFC;
}

#account-details {
  z-index: -1;
  opacity: 0;
  max-height: 74px;
  top: 0;
  height: 180px;
  overflow: hidden;
  display: flex;
  position: absolute;
  align-items: center;
  padding-right: 25px;
  padding-left: 25px;
  right: 0;
  background-color: #FDFBFC;
  width: 205px;
  flex-direction: column;
  padding-bottom: 17px;
  justify-content: flex-end;
}

.account-functions {
  border-bottom: solid 1px grey;
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.account-functions p {
  margin-bottom: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.account-expand {
  max-height: 180px !important;
  opacity: 1 !important;
}

#username {
  display: none;
  color: #1C2536;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 1em;
  margin-right: 1em;
}

.search-row {
  grid-column: 1/4;
  text-align: center;
  padding: 33px;
  left: 0;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 167px;
}

.search-message {
  margin-bottom: 16px;
}
.search-message h2 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 1.3em;
  color: #1C2536;
}

.search-bar {
  display: flex;
  color: #224229;
  margin-bottom: 16px;
  max-width: 100%;
  position: relative;
  width: 800px;
}
.search-bar i {
  display: flex;
  gap: 20%;
  align-items: center;
  justify-content: flex-end;
  font-size: 1em;
  color: #1C2536;
}

.search-bar::before {
  background-color: rgba(34, 66, 41, 0.16);
  right: 0;
  bottom: 0;
  content: " ";
  height: 2px;
  left: 0;
  pointer-events: none;
  position: absolute;
}

.search-bar::after {
  bottom: 0;
  content: " ";
  height: 2px;
  left: 0;
  pointer-events: none;
  position: absolute;
  background-color: #7D876E;
  right: 100%;
  width: 0;
  transition: width 0.4s ease-in-out;
}

.search-bar:hover::after {
  width: 100%;
  transition: width 0.4s ease-in-out;
}

#search-bar-input {
  background: 0 0;
  border: none;
  color: #7D876E;
  flex: auto;
  font-family: "Sen", sans-serif;
  font-size: 30px;
  font-weight: 400;
  margin-right: 8px;
  min-height: 50px;
  outline: none;
  padding: 0;
  width: 100%;
}

.nav-expand {
  max-height: 300px;
  transition: 0.4s;
}

.nav-padding {
  padding-top: 76px;
}

@media only screen and (min-width: 768px) {
  .nav-grid {
    grid-template-columns: 3fr 1fr 2fr;
  }
  #search-type {
    display: block;
  }
}
@media only screen and (min-width: 1024px) {
  .nav-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .nav-logo {
    visibility: visible;
    display: flex;
    justify-content: center;
  }
  .search-bar i {
    font-size: 1.5em;
  }
  .account-button #username {
    display: block;
  }
  #search-icon {
    margin-right: 0.5em;
  }
  #account-symbol {
    display: none;
  }
  #account-button {
    display: block;
  }
}
#result {
  -moz-column-count: 2;
       column-count: 2;
  -moz-column-gap: 1em;
       column-gap: 1em;
  position: relative;
  overflow: hidden;
  display: flow-root;
}

.browse-height {
  max-height: 100vh;
  overflow: hidden;
  position: relative;
}

.browse-height::after {
  content: "";
  position: absolute;
  bottom: 0;
  z-index: 100;
  width: 100%;
  height: 400px;
  background: linear-gradient(hsla(0deg, 0%, 94.1%, 0), #DAD1CA);
  pointer-events: none;
  left: 0;
}

.product-item {
  width: 100%;
  height: auto;
  position: relative;
  padding-bottom: 50px;
  background: #FDFBFC;
}
.product-item .product-image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.product-description {
  height: 50px;
  width: 100%;
  display: flex;
  bottom: 0;
  align-items: flex-start;
  justify-content: center;
  padding: 0 42px 0 6px;
  position: absolute;
  flex-direction: column;
}
.product-description h4 {
  font-size: calc(0.8em + 0.3vw);
  font-weight: 200;
  color: #1C2536;
}
.product-description p {
  font-size: 0.7em;
  font-weight: 100;
  color: #7D876E;
}

#favourite {
  position: absolute;
  top: 11px;
  bottom: 11px;
  display: flex;
  flex-direction: column;
  align-items: center;
  right: 6px;
  justify-content: center;
}
#favourite h3 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 1em;
  font-weight: 300;
  color: #1C2536;
}

.product-container:nth-child(2),
.product-container:nth-last-child(1) {
  grid-row: span 1;
}

.product-container {
  grid-row: span 2;
  margin-bottom: 1em;
}

.product-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  cursor: pointer;
  transition: all 0.3s ease;
}

.browse-button {
  z-index: 10;
  text-align: center;
  padding-top: 88px;
}
.browse-button button {
  all: unset;
  color: white;
  background: black;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 11px;
  height: 44px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 2px 16pxrgba 0, 0, 0, 0.08, 0 0.25px 2pxrgba 0, 0, 0, 0.26;
  white-space: nowrap;
}

.product-buttons {
  padding-right: 5%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  padding-left: 5%;
  width: 100%;
  color: #FDFBFC;
  font-size: 1.5em;
}

.result-padding {
  padding-left: 5%;
  padding-right: 5%;
}

@media only screen and (min-width: 768px) {
  #result {
    -moz-column-count: 3;
         column-count: 3;
  }
}
@media only screen and (min-width: 1024px) {
  #result {
    -moz-column-count: 4;
         column-count: 4;
  }
}
footer {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1C2536;
  color: #FDFBFC;
}
footer p {
  margin: 0;
}
footer .footer-top {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer .footer-top .footer-top-info1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-bottom: 2px solid #FDFBFC;
}
footer .footer-top .footer-top-info1 .title {
  width: 100%;
  font-size: 19px;
  font-weight: 600;
  letter-spacing: 2.5px;
  padding: 10px 0;
  font-family: "Plus Jakarta Sans", sans-serif;
}
footer .footer-top .footer-top-info1 .info {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 0;
  overflow-y: hidden;
  overflow-x: hidden;
  transition: all ease 0.3s;
}
footer .footer-top .footer-top-info1 .info a {
  font-family: "Plus Jakarta Sans", sans-serif;
  letter-spacing: 0.5px;
  font-size: 16px;
  padding: 5px;
}
footer .footer-top .footer-top-info1.active .info {
  height: 120px;
}
footer .footer-top .footer-top-header {
  display: none;
}
footer .footer-top .footer-top-header p {
  color: #A7432B;
  font-family: "mirra";
  font-size: 80px;
}
footer .footer-middle {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid #FDFBFC;
  padding: 10px 0;
}
footer .footer-middle .socials {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
footer .footer-middle .socials p {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 14px;
  letter-spacing: 0.5px;
  text-transform: capitalize;
}
footer .footer-middle .newsletter {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
footer .footer-middle .newsletter input {
  width: 75%;
  height: 50px;
  padding: 5px;
  font-family: "Plus Jakarta Sans", sans-serif;
}
footer .footer-middle .newsletter button {
  all: unset;
  height: 50px;
  width: 25%;
  background-color: #A7432B;
  font-size: 15px;
  font-weight: 600;
  padding-left: 5px;
}
footer .footer-bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Plus Jakarta Sans", sans-serif;
  padding: 10px 0;
}
footer .footer-bottom .copyright p {
  font-size: 14px;
  letter-spacing: 0.5px;
}
footer .footer-bottom .footer-logo img {
  width: 80px;
}
footer .footer-bottom .conditions {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer .footer-bottom .conditions a {
  font-size: 14px;
  letter-spacing: 0.5px;
}

* {
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

h4 {
  margin: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
}

h5 {
  margin: 0;
}

h6 {
  margin: 0;
}

p {
  margin: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
}

header {
  height: 100px;
  border-bottom: solid #1C2536 2px;
  width: 100%;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-title {
  color: #1C2536;
  margin-left: 5%;
}

.filer {
  margin-right: 5%;
  position: relative;
}
.filer span {
  margin-left: 5px;
}
.filer button {
  width: 135px;
  all: unset;
  color: #FDFBFC;
  background: #1C2536;
  padding: 10px 20px 10px 20px;
  display: flex;
}

.filter-dropdown {
  background: #1C2536;
  color: #FDFBFC;
  position: absolute;
  z-index: 99;
  width: 135px;
  max-height: 0px;
  overflow: hidden;
  transition: 0.2s ease;
}
.filter-dropdown ul {
  padding: 0 10px;
}
.filter-dropdown li {
  list-style: none;
  border-bottom: solid 1px #FDFBFC;
  display: flex;
  justify-content: space-between;
}

.filter-expand {
  max-height: 91px !important;
  transition: 0.2s ease;
}/*# sourceMappingURL=styles.css.map */