// EDIT PRODUCT MODAL  -------------------------------------------------------------------
.modal-content {
    border-radius: 0px;
}

.modal-header {
    background-color: $green;
    border-radius: 0px;
}

.btn-close {
    background: url('../img/whiteclosex.png')center/2em auto no-repeat;
    opacity: 1;
}

.modal-title {
    margin-bottom: 15px;
    line-height: var(--bs-modal-title-line-height);
    text-align: center;
    font-size: 30px;
    font-family: $sen;
    font-weight: bold;
}

.edit-modal-image {
    width: 130px;
    height: 130px;
    border-radius: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
}

#projectForm {
    font-family: $jakarta;
    font-weight: bold;
}

label {
    display: inline-block;
    margin-left: 2px;
    font-size: 17px;
    margin-bottom: 5px;
}

.edit-modal-input {
    all: unset;
    width: 97%;
    margin-left: 5px;
    border-radius: 1px;
    height: 40px;
    padding-left: 5px;
    color: black;
    font-size: 14px;
    font-weight: 400;
    border-color: none;
    border: solid 1px black;
}

.modal-body {
    background-color: #FDFBFC;
}

.edit-modal-button1,
.edit-modal-button2 {
    background-color: $blue;
    color: white;
    font-family: $jakarta;
    border-radius: 0px;
    font-size: 13px;
    padding: 14px;
    width: 43%;
    border: none;
}

.edit-modal-button1 {
    margin-left: 5px;
}

.edit-modal-button2 {
    margin-left: 41px;
}

// DELETE MODAL  -------------------------------------------------------------------


#deleteModalLabel {
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-weight: normal;
    padding-top: 15px;
}

.delete-modal-header {
    border-bottom: 2px solid white;
    background-color: #7D876E;
    border-radius: 0px;
    font-family: $jakarta;
}

.delete-modal-body {
    background-color: #7D876E;
    height: 170px;
}

.confirm-delete-text {
    text-align: center;
    color: white;
    padding-top: 30px;
    font-family: $jakarta;
    padding-bottom: 10px;
}

.delete-modal-cancel-button,
.delete-button {
    background-color: $blue;
    color: white;
    font-family: $jakarta;
    border-radius: 0px;
    font-size: 13px;
    padding: 11px;
    width: 30%;
    border: none;
}

.delete-modal-cancel-button {
    margin-left: 65px;
}

.delete-button {
    margin-left: 20px;
}